
.ipynb_checkpoints/Lab_4_experiment-checkpoint.ipynb
.ipynb_checkpoints/Lab4- EEG Analysis-checkpoint.ipynb
.DS_Store
Lab_4_data/Aharon/cats and dogs.csv
Lab_4_data/Aharon/UnicornRecorder_20220222_115458.csv
Lab_4_data/Aharon/UnicornRecorder_20220222_115531.csv
Lab_4_data/Aharon/UnicornRecorder_20220222_115553.csv
Lab_4_data/Matt/cats_and_dogs.csv
Lab_4_data/Matt/UnicornRecorder_20220222_114111.csv
Lab_4_data/Matt/UnicornRecorder_20220222_114143.csv
Lab_4_data/Matt/UnicornRecorder_20220222_114209.csv
Lab_4_data/Sarah/cats and dogs.csv
Lab_4_data/Sarah/UnicornRecorder_20220222_120343.csv
Lab_4_data/Sarah/UnicornRecorder_20220222_120415.csv
Lab_4_data/Sarah/UnicornRecorder_20220222_120437.csv
